@mixin from($breakpoint){
  @media screen and (min-width: map-get($breakpoints, $breakpoint)){
    @content;
  }
}

@mixin fontSize($size, $weigth){
  font-size: $size;
  line-height: calc(#{$size}*var(--fontRatio));
  font-weight: map-get($weigths, $weigth);
}