doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    title Lista de Tareas
    link(rel="stylesheet", href="./css/styles.css")
    include ../03_blocks/meta
  body
    block header
    block taskList

    script(src="./js/app.js")